<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yomogi&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="mainHeader-topBar">
            <div class="logo-bar">

                    <img src="/images/logo-mercado-liebre.svg" class = "logo" width=50% height=50% alt="Descuento Navidad">


                <div class="search-bar"> <input type="text" placeholder="Buscar productos, marcas">
                    <button class="button"> <i class="fas fa-search"></i></button> 
                </div>


            </div>
            <br>
            <div class="compra-tarjeta">
                <i class="fas fa-hand-holding-usd"> </i>
                Comprá en cuotas sin tarjeta de crédito.
            </div>
        </div>


        <div class="mainHeader-bottomBar">

            <div class="first-part">
                <a href="/"> Ofertas </a> </li>
                <a href="/"> Tiendas oficilaes </a> </li>
                <a href="/"> Vender </a> </li>
                <a href="/"> Ayuda </a> </li>
            </div>
            <br>
            <div class="second-part">
                <a href="/register"> Creá tu cuenta </a> <i class="far fa-id-card"> </i> </li>
                <a href="/login"> Ingresa </a> <i class="fas fa-sign-in-alt"> </i> </li>
                <a href="/"> Mis compras </a> <i class="fas fa-shopping-basket"> </i> </li>
            </div>

        </div>

        <br>


        <div class="burger-menu">
            <i class="fas fa-bars"> </i>
        </div>
        <br>
    </header>


    <img src="/images/img-home-banner.jpg" class = "banner">
    <br>
    <br>

    <main>
        <form class="login-register">

            <div class="field username">
                <input type="text" placeholder="Nombre de usuario">
            </div>


            <div class="field psw">
                <input type="password" placeholder="Contraseña">
            </div>

            <div class="field registrar">
                <button type="button">
                    <a href="/" style="text-decoration: none; color: inherit;">Registrarse</a>
                </button>
            </div>
        </form>
    </main>
    <br>
    <br>

    <footer>

        <div class="footer1">
            <br>
            <div class="text-footer">
                <section class=" articulo">
                    <i class="far fa-credit-card"> </i>
                    <div class="pie">
                        <h4> Pagá con tarjeta o en efectivo </h4>
                        <p>
                            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                            siempre
                            es seguro!
                        </p>
                    </div>
                </section>

                <section class=" articulo">

                    <i class="fas fa-gift"> </i>

                    <div class="pie">
                        <h4> Envio gratis desde los $2500 </h4>
                        <p>
                            Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un
                            beneficio de Mercado Puntos.
                        </p>
                    </div>
                </section>

                <section>
                    <div class="pie">
                        <i class="fas fa-user-shield"> </i>
                    </div>

                    <h4 class="centrar"> Seguridad de principio a fin </h4>
                    <p class="centrar">
                        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                        protegid@.
                    </p>

                </section>
            </div>
            <br>
        </div>

        <section>
            <p class="pie"> Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
        </section>

    </footer>


</body>